# Dapendencies
node_modules/

# Environment variables (Secret)
.env

# Logs
npm-debug.log*

# OS Files
.DS_Store
.vscode

# Frontend build files (if you only want the source in Git)
dist/
build/